.balk {
  position: fixed;
  top: 0vh;
  left: 0;
  width: 100%;
  height: 150px;
  background: blue;
  z-index: -1;}
h1 {
  text-align: center; color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
 
    header {
      color: black;
      text-align: center;
      padding: 7px;
      position: sticky;
      top: 0px; }
    nav {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin: 20px 0;}
    ul li {
      list-style-type: none;
      display: inline;
      margin:  25px;}
    a {
      text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;}
body {
  background-color: rgb(111, 158, 184);}
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;}
h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  cursor: pointer;}